// Place all the styles related to the api::Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.session-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
}

.login-button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 92%;
}

.login-form-container .session-form .login-button-wrapper .signInUp-button {
  display: flex;
  justify-content: space-around;
  width: 62px;
  color: #404040;
  padding-top: 23px;
  border: 1px solid;
  border-radius: 4px;
  padding: 4px 6px;
}

.login-form-container .session-form .signInUp-button {
  display: flex;

  justify-content: space-around;
  width: 62px;
  color: #404040;
  padding-top: 23px;
  border: 1px solid;
  border-radius: 4px;
  padding: 4px 6px;
}

.signInUp-button:hover {
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  width: 62px;
  padding-top: 23px;
  border-radius: 4px;
  padding: 4px 6px;
  // background-color:rgba(43,201,201,0.5);
  color: #fff;
  border: 1px solid rgba(43,201,201,0.5);

}


.modal-signin-button {
  position: absolute;
  left: 10%;
  bottom: 7%;
  color: #404040;
  font-size: 20px;
  // height: 60px;
}

.modal-signin-button:hover {
  cursor: pointer;
  color: rgba(43,201,201, 1)
  // font-size: 23;
}


.modal-signout-button {
  display: flex;
  justify-content: center;
  border-top: 1px solid #424242;
  padding: 4px;
}

.modal-signout-button:hover {
  color: rgba(43,201,201, 1);
  // color: white;
  cursor: pointer;
}
