// Place all the styles related to the api::Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//USER PROFILE

.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-sec-2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 133px;
  padding-bottom: 110px;
  width: 90vw;
}

.headshot {
  width: 274px;
  height: 274px;
  border-radius: 50%;
  border: 3px solid black;
  // margin: 3px solid black;
  // transform: translate(-);
}

.info-section {
  width: 300px;
}

.name {
  font-family: 'Satisfy', cursive;
  font-size: 53px;
}

.bio {
  font-size: 19px;
  color: #1F1F1F;
  padding-top: 10px;
}



// =====================================
// NAV BAR



// .upload-button {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   font-size: 25px;
//   font-weight: 900;
//   padding-left: 12px;
//   padding-bottom: 8px;
//   border-top: 2px;
//   font-color: white;
//   background: black;
//   margin: 25px;
//   border-radius: 50px;
//   box-shadow: 3px 3px 5px darkgrey;
// }


.links-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  font-size: 22px;
  font-weight: 900;
  padding-left: 12px;
  border-top: 2px solid black;
  font-color: black;
  margin: 25px;
  border-top: 2px black;

  // box-shadow: 3px 3px 5px darkgrey;
}

// .links-nav div {
//   color: black;
//   content: '';
//   border-top: solid 3px black;
//   transform: scaleX(0);
//   transition: transform 250ms ease-in-out;
// }



// ======================================
// USER PHOTOS

.user-photos-container {
  display: flex;
  height: 700px;
  width: 100vw;
  overflow: scroll;
  justify-content: center;
  padding-top: 20px;
  border-style: solid;
  border-top: thick double #424242;
  background-color: #F0F0F0;
}


.user-photos-container .photo-modal-container .item-button .item .image {
  display: flex;
  justify-content: center;
  width: 350px;
  height: auto;
  padding: 2px;
}

// .item-button:nth-child(3n+0) {
//   display: flex; //so image will resize with container;
//   flex: 1;
//   height: 100%;
//   overflow: hidden;
//   background-color: pink;
//   .image {
//     flex: 1;
//     flex-basis: 500px;
//     // width: 100vw;
//     // height: 100%;
//   }
// }

// .item-button:nth-child(3n-1) {
//   flex: 2;
//   height: 100%;
//   overflow: hidden;
//   .image { //based on parent, height & width is 100% of modal-container
//     flex: 2;
    // width: 100vw;
    // height: 100%;
//   }
// }

// .item-button:nth-child(3n-2) {
//   flex: 3;
//   height: 100%;
//   overflow: hidden; //if child is bigger, hide the space
//   .image {
//     flex: 3;
//     // width: 100vw;
//     // height: 100%;
//   }
// }
//
// .photo-modal-container {
//   display: flex;
//   flex: 1;
//   flex-basis: 200px;
//   max-height: 300px;
// }
//
// .photo-modal-container:nth-child(3n-1) {
//   display: flex;
//   flex: 2;
//   background-color: orange;
//   flex-basis: 300px;
// }
//
// .photo-modal-container:nth-child(3n-2) {
//   display: flex;
//   flex: 3;
//   flex-basis: 400px;
//   background-color: blue;
// }
