.follow-profile-container {
  display: flex;
  width: 88vw;
  height: 700px;
  overflow: scroll;
  border-style: solid;
  border-top: thick double #424242;
  padding: 4% 50px 5% 50px;
}

.follow-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 20px
}


.profile-image {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  border: 2px solid #383838;
  opacity: .9
}

.profile-image:hover {
  width: 175px;
  height: 175px;
  border-radius: 50%;
  border: 2px solid #383838;
  opacity: 1
}

.username {
  padding: 10px;
  font-size: 18px
}
