.personalwebsite {
   background-image: url(http://res.cloudinary.com/smilejl/image/upload/v1505789823/socialmedia/websitebefore.png);
   height: 70px;
   width: 70px;
}

.personalwebsite:hover {
   background-image: url(http://res.cloudinary.com/smilejl/image/upload/v1505789823/socialmedia/websiteafter.png);
}

.github {
   background-image: url(http://res.cloudinary.com/smilejl/image/upload/v1505789822/socialmedia/githubbefore.png);
   height: 70px;
   width: 70px;
}

.github:hover {
   background-image: url(http://res.cloudinary.com/smilejl/image/upload/v1505789822/socialmedia/githubafter.png);
}

.linkedin {
   background-image: url(http://res.cloudinary.com/smilejl/image/upload/v1505789822/socialmedia/linkedinbefore.png);
   height: 70px;
   width: 70px;
}

.linkedin:hover {
   background-image: url(http://res.cloudinary.com/smilejl/image/upload/v1505789823/socialmedia/linkedinafter.png);
}
