.photos-index-container {
  // display: flex;
  // justify-content: center;
}

.sidenav {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  height: 100%;
  padding: 10px;
}

.quote {
  position: relative;
  font-weight: bold;
  font-size: 35px;
  text-align: right;
}

.photos-index {
  display: flex;
  justify-content: center;
  margin-left: 17%;
}


.item-button {
  width: 280px;
  padding: 5px;
}
// ===================================


.images {
  width: 350px;
}


.image {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  padding: 0px;
  transition: .6s;
}

.overlay {
  position: absolute;
  bottom: 4px;
  left: 6px;
  right: 5px;
  background-color: grey;
  overflow: hidden;
  height: 0;
  transition: .5s ease;
  opacity: 0.6;
}

.item:hover .overlay {
  height: 20px;
}

.artist {
  white-space: nowrap;
  color: white;
  font-size: 15px;
  top: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.photo-modal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  padding: 35px;
}

.image-detail {
  top: 50px;
  width: 70%;
  height: 70%;
  box-shadow: 3px 3px 5px #888888;
}

.image-info-detail {
  display: flex;
  flex-direction: column;
  top: 80%;
}

.title-detail {
  font-size: 25px;
  font-weight: bold;
}
