.photos-index-container {
  display: flex;
  justify-content: center;
//   background-image: url("http://res.cloudinary.com/smilejl/image/upload/c_scale,w_3000/v1500681530/2017-7-21/Jared/ferriswheel.jpg");
//   height: 100vh;
//   width: 100vw;
//   background-position: center;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
}

.quote {
  position: relative;
  font-weight: bold;
  font-size: 35px;
  text-align: right;
}

.photos-index {
  display: flex;
  justify-content: center;
}


.item-button {
  width: 270px;
  padding: 5px;
}
// ===================================


.images {
  width: 350px;
}


.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: grey;
  overflow: hidden;
  width: 97%;
  height: 0;
  transition: .5s ease;
  opacity: 0.6;
}

.item:hover .overlay {
  height: 10%;
}

.artist {
  white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 5%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.photo-modal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
}

.image-detail {
  width: 70%;
  height: 70%;
  box-shadow: 3px 3px 5px #888888;
}

.image-info-detail {
  display: flex;
  flex-direction: column;
  top: 80%;
}

.title-detail {
  font-size: 25px;
  font-weight: bold;
}
