// Place all the styles related to the Static_Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Raleway+Dots|Amatica+SC|Poiret+One|Open+Sans|Lobster|Pacifico|Satisfy|Zilla+Slab');

// font-family: 'Amatica SC', cursive;
// font-family: 'Open Sans', sans-serif;

// font-family: 'Zilla Slab', serif;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Pacifico', cursive;
// font-family: 'Satisfy', cursive;
// font-family: 'Lobster', cursive;

// font-family: 'Poiret One', cursive;


body {
  font-family: 'Poiret One', cursive;
  position: relative; //anything positioned absolute will be relative to body.
}

.welcome-container2 {
  position: relative;
  background-image:
   url(https://res.cloudinary.com/smilejl/image/upload/c_scale,w_1500/v1500932889/Splash%20page/3_warren-wong.jpg);
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: .7s;
  opacity: .8;
}

.welcome-container {
  position: relative;
  background-image: url(https://res.cloudinary.com/smilejl/image/upload/c_scale,w_1500/v1500939234/Splash%20page/1_aperture-vintage-212345.jpg);
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: .7s;
}

// .opacity-bar {
//   height: 50px;
//   top: 90%;
//   opacity: .3;
// }

.welcome-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.welcome-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  text-align: center;
  align-content: center;
  height: 90%;
  color: #131D52;
}

.welcome-pixelpusher {
  font-family: 'Amatica SC', cursive;
  font-size: 60px;
  font-weight: 600;
  color: #FAE437;
  text-shadow: 2px 2px 3px #474747;
}

.welcome-pixelpusher:hover {
  cursor: pointer;
}

.welcome-diamond {
  font-size: 25px;
}

.welcome-photographers {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  letter-spacing: 6px;
  color: #f4f4f4;
  text-shadow: 0px 0px 1px #474747;
}

.welcome-photographers:hover {
  cursor: pointer;
}


.welcome-pixelpusher:hover {
  cursor: pointer;
}
// =====================================
