.upload-modal-container {
  display: flex;
  justify-content: center;
  flex-grow: 1
}


.upload-form-container {
  border: 2px solid pink;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.upload-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.upload-errors {
  font-color: red;
  border: 2px red;
}

// =================================

.top-message {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 46%;
}

.upload-form-container h1 {
  font-size: 37px;
}


h2 {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  font-size: 18px;
  width:100%;
  overflow:hidden;
}

h2 p {
  animation: slide-left 4s;
}

@keyframes h2 {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.upload-follow-button {
  display: flex;
  font-size: 25px;
  // align-self: center;
}


// =================================


.image-n-input {
  display: flex;
  justify-content: space-between;
  padding: 44px;
}


.dropzone-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed #424242;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  padding: 15px;
}

dropzone-text-container:hover {
  cursor: pointer;
  box-shadow: 2px 2px 4px #424242;
}

.create-thumbnail {
  box-shadow: 2px 2px 5px #424242;
}


.input-area {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  padding-left: 15px;
}

.modal-upload-button {
  // border: 1px solid #424242;
  border-radius: 5px;
  padding: 4px 8px 9px;
  background-color: #c0c0c0;
  color: #fff;
}

.modal-upload-button:hover {
  cursor:pointer;
  background-color: rgba(43,201,201,0.7);
  // padding-bottom: 7px;
}

.text-input-container {
  display: flex;
  flex-direction: column;
  padding-top: 22px;
  height: 100%;
}

.text-input {
  padding-top: 30px;
}

.text-input-container .text-input input[type=text] {
  border: 1px solid #424242;
  border-radius: 10px;
  padding: 2px;
}

.text-input-container .text-input input[type=text]:focus {
  background-color: #B8B8B8
}
