.upload-form-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid pink;
  height: 100%;
  weight: 100%;
}
.upload-errors {
  font-color: red;
  border: 2px red;
}

// =================================

.top-message {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 20px;
}

.upload-text {
  font-weight: 700;
}


// =================================


.image-n-input {
  display: flex;
}


.dropzone-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  height: 300px;
  width: 300px;
}


.input-area {
  border: 2px solid blue;
}
