.upload-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid pink;
  height: 100%;
  width: 100%;
}
.upload-errors {
  font-color: red;
  border: 2px red;
}

// =================================

.top-message {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 100%;
}

h1 {
  font-size: 37px;
}

h2 {
  display: flex;
  justify-content: center;
  font-size: 18px;
}

.upload-text {
  font-weight: bold;
}


// =================================


.image-n-input {
  display: flex;
  justify-content: space-between;
}


.dropzone-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  height: 300px;
  width: 300px;
  border-radius: 50%;
}


.input-area {
  display: flex;
  align-items: center;
  border: 2px solid blue;
}

// .upload-button {
//
// }
